@charset "utf-8";
body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size:57px;
}

h2 {
	font-size:22px;
}

/* .fullViewPlusRow {
	height: 110vh;
} */

/* .fullViewRow {
	height: 100vh;
} */

/* .reducedViewRow {
	height: 60vh;
} */

.panelContentBullet {
	font-size: 25px;
}

.panelBulletIcon {
	font-size: 23px;
}

.addPaddingToRowContent {
	padding-top: 150px;
	padding-bottom: 30px;
}

.addSmallPaddingToRowContent {
	padding-top: 100px;
	padding-bottom: 30px;
}

.bg-custom-grey {
	background-color: #d2dbe4;
}

#headerLogoDiv {
	padding-top: 100px;
	padding-bottom: 50px;
}